@charset "UTF-8";
/* libre-franklin-300 - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  src: url("./src/fonts/libre-franklin-v4-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Libre Franklin Light"), local("LibreFranklin-Light"), url("./src/fonts/libre-franklin-v4-latin-300.eot?#iefix") format("embedded-opentype"), url("./src/fonts/libre-franklin-v4-latin-300.woff2") format("woff2"), url("./src/fonts/libre-franklin-v4-latin-300.woff") format("woff"), url("./src/fonts/libre-franklin-v4-latin-300.ttf") format("truetype"), url("./src/fonts/libre-franklin-v4-latin-300.svg#LibreFranklin") format("svg");
  /* Legacy iOS */
}
/* libre-franklin-600 - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  src: url("./src/fonts/libre-franklin-v4-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Libre Franklin SemiBold"), local("LibreFranklin-SemiBold"), url("./src/fonts/libre-franklin-v4-latin-600.eot?#iefix") format("embedded-opentype"), url("./src/fonts/libre-franklin-v4-latin-600.woff2") format("woff2"), url("./src/fonts/libre-franklin-v4-latin-600.woff") format("woff"), url("./src/fonts/libre-franklin-v4-latin-600.ttf") format("truetype"), url("./src/fonts/libre-franklin-v4-latin-600.svg#LibreFranklin") format("svg");
  /* Legacy iOS */
}
/* libre-franklin-700 - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  src: url("./src/fonts/libre-franklin-v4-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Libre Franklin Bold"), local("LibreFranklin-Bold"), url("./src/fonts/libre-franklin-v4-latin-700.eot?#iefix") format("embedded-opentype"), url("./src/fonts/libre-franklin-v4-latin-700.woff2") format("woff2"), url("./src/fonts/libre-franklin-v4-latin-700.woff") format("woff"), url("./src/fonts/libre-franklin-v4-latin-700.ttf") format("truetype"), url("./src/fonts/libre-franklin-v4-latin-700.svg#LibreFranklin") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "icomoon";
  src: url("./src/fonts/icomoon.eot?nh3uas");
  src: url("./src/fonts/icomoon.eot?nh3uas#iefix") format("embedded-opentype"), url("./src/fonts/icomoon.ttf?nh3uas") format("truetype"), url("./src/fonts/icomoon.woff?nh3uas") format("woff"), url("./src/fonts/icomoon.svg?nh3uas#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.m-6 {
  margin: 4rem !important;
}

.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mr-6 {
  margin-right: 4rem !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.ml-6 {
  margin-left: 4rem !important;
}

.p-6 {
  padding: 4rem !important;
}

.px-6 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.pt-6 {
  padding-top: 4rem !important;
}

.pr-6 {
  padding-right: 4rem !important;
}

.pb-6 {
  padding-bottom: 4rem !important;
}

.pl-6 {
  padding-left: 4rem !important;
}

@media (min-width: 576px) {
  .m-sm-6 {
    margin: 4rem !important;
  }

  .mx-sm-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }

  .my-sm-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .mt-sm-6 {
    margin-top: 4rem !important;
  }

  .mr-sm-6 {
    margin-right: 4rem !important;
  }

  .mb-sm-6 {
    margin-bottom: 4rem !important;
  }

  .ml-sm-6 {
    margin-left: 4rem !important;
  }

  .p-sm-6 {
    padding: 4rem !important;
  }

  .px-sm-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }

  .py-sm-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .pt-sm-6 {
    padding-top: 4rem !important;
  }

  .pr-sm-6 {
    padding-right: 4rem !important;
  }

  .pb-sm-6 {
    padding-bottom: 4rem !important;
  }

  .pl-sm-6 {
    padding-left: 4rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-6 {
    margin: 4rem !important;
  }

  .mx-md-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }

  .my-md-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .mt-md-6 {
    margin-top: 4rem !important;
  }

  .mr-md-6 {
    margin-right: 4rem !important;
  }

  .mb-md-6 {
    margin-bottom: 4rem !important;
  }

  .ml-md-6 {
    margin-left: 4rem !important;
  }

  .p-md-6 {
    padding: 4rem !important;
  }

  .px-md-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }

  .py-md-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .pt-md-6 {
    padding-top: 4rem !important;
  }

  .pr-md-6 {
    padding-right: 4rem !important;
  }

  .pb-md-6 {
    padding-bottom: 4rem !important;
  }

  .pl-md-6 {
    padding-left: 4rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-6 {
    margin: 4rem !important;
  }

  .mx-lg-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }

  .my-lg-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .mt-lg-6 {
    margin-top: 4rem !important;
  }

  .mr-lg-6 {
    margin-right: 4rem !important;
  }

  .mb-lg-6 {
    margin-bottom: 4rem !important;
  }

  .ml-lg-6 {
    margin-left: 4rem !important;
  }

  .p-lg-6 {
    padding: 4rem !important;
  }

  .px-lg-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }

  .py-lg-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .pt-lg-6 {
    padding-top: 4rem !important;
  }

  .pr-lg-6 {
    padding-right: 4rem !important;
  }

  .pb-lg-6 {
    padding-bottom: 4rem !important;
  }

  .pl-lg-6 {
    padding-left: 4rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-6 {
    margin: 4rem !important;
  }

  .mx-xl-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }

  .my-xl-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .mt-xl-6 {
    margin-top: 4rem !important;
  }

  .mr-xl-6 {
    margin-right: 4rem !important;
  }

  .mb-xl-6 {
    margin-bottom: 4rem !important;
  }

  .ml-xl-6 {
    margin-left: 4rem !important;
  }

  .p-xl-6 {
    padding: 4rem !important;
  }

  .px-xl-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }

  .py-xl-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .pt-xl-6 {
    padding-top: 4rem !important;
  }

  .pr-xl-6 {
    padding-right: 4rem !important;
  }

  .pb-xl-6 {
    padding-bottom: 4rem !important;
  }

  .pl-xl-6 {
    padding-left: 4rem !important;
  }
}
.m-7 {
  margin: 5rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.p-7 {
  padding: 5rem !important;
}

.px-7 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.py-7 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.pt-7 {
  padding-top: 5rem !important;
}

.pr-7 {
  padding-right: 5rem !important;
}

.pb-7 {
  padding-bottom: 5rem !important;
}

.pl-7 {
  padding-left: 5rem !important;
}

@media (min-width: 576px) {
  .m-sm-7 {
    margin: 5rem !important;
  }

  .mx-sm-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }

  .my-sm-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .mt-sm-7 {
    margin-top: 5rem !important;
  }

  .mr-sm-7 {
    margin-right: 5rem !important;
  }

  .mb-sm-7 {
    margin-bottom: 5rem !important;
  }

  .ml-sm-7 {
    margin-left: 5rem !important;
  }

  .p-sm-7 {
    padding: 5rem !important;
  }

  .px-sm-7 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }

  .py-sm-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .pt-sm-7 {
    padding-top: 5rem !important;
  }

  .pr-sm-7 {
    padding-right: 5rem !important;
  }

  .pb-sm-7 {
    padding-bottom: 5rem !important;
  }

  .pl-sm-7 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-7 {
    margin: 5rem !important;
  }

  .mx-md-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }

  .my-md-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .mt-md-7 {
    margin-top: 5rem !important;
  }

  .mr-md-7 {
    margin-right: 5rem !important;
  }

  .mb-md-7 {
    margin-bottom: 5rem !important;
  }

  .ml-md-7 {
    margin-left: 5rem !important;
  }

  .p-md-7 {
    padding: 5rem !important;
  }

  .px-md-7 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }

  .py-md-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .pt-md-7 {
    padding-top: 5rem !important;
  }

  .pr-md-7 {
    padding-right: 5rem !important;
  }

  .pb-md-7 {
    padding-bottom: 5rem !important;
  }

  .pl-md-7 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-7 {
    margin: 5rem !important;
  }

  .mx-lg-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }

  .my-lg-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .mt-lg-7 {
    margin-top: 5rem !important;
  }

  .mr-lg-7 {
    margin-right: 5rem !important;
  }

  .mb-lg-7 {
    margin-bottom: 5rem !important;
  }

  .ml-lg-7 {
    margin-left: 5rem !important;
  }

  .p-lg-7 {
    padding: 5rem !important;
  }

  .px-lg-7 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }

  .py-lg-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .pt-lg-7 {
    padding-top: 5rem !important;
  }

  .pr-lg-7 {
    padding-right: 5rem !important;
  }

  .pb-lg-7 {
    padding-bottom: 5rem !important;
  }

  .pl-lg-7 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-7 {
    margin: 5rem !important;
  }

  .mx-xl-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }

  .my-xl-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .mt-xl-7 {
    margin-top: 5rem !important;
  }

  .mr-xl-7 {
    margin-right: 5rem !important;
  }

  .mb-xl-7 {
    margin-bottom: 5rem !important;
  }

  .ml-xl-7 {
    margin-left: 5rem !important;
  }

  .p-xl-7 {
    padding: 5rem !important;
  }

  .px-xl-7 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }

  .py-xl-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .pt-xl-7 {
    padding-top: 5rem !important;
  }

  .pr-xl-7 {
    padding-right: 5rem !important;
  }

  .pb-xl-7 {
    padding-bottom: 5rem !important;
  }

  .pl-xl-7 {
    padding-left: 5rem !important;
  }
}
.m-8 {
  margin: 6rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

.p-8 {
  padding: 6rem !important;
}

.px-8 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.py-8 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.pt-8 {
  padding-top: 6rem !important;
}

.pr-8 {
  padding-right: 6rem !important;
}

.pb-8 {
  padding-bottom: 6rem !important;
}

.pl-8 {
  padding-left: 6rem !important;
}

@media (min-width: 576px) {
  .m-sm-8 {
    margin: 6rem !important;
  }

  .mx-sm-8 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-sm-8 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }

  .mt-sm-8 {
    margin-top: 6rem !important;
  }

  .mr-sm-8 {
    margin-right: 6rem !important;
  }

  .mb-sm-8 {
    margin-bottom: 6rem !important;
  }

  .ml-sm-8 {
    margin-left: 6rem !important;
  }

  .p-sm-8 {
    padding: 6rem !important;
  }

  .px-sm-8 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-sm-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .pt-sm-8 {
    padding-top: 6rem !important;
  }

  .pr-sm-8 {
    padding-right: 6rem !important;
  }

  .pb-sm-8 {
    padding-bottom: 6rem !important;
  }

  .pl-sm-8 {
    padding-left: 6rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-8 {
    margin: 6rem !important;
  }

  .mx-md-8 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-md-8 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }

  .mt-md-8 {
    margin-top: 6rem !important;
  }

  .mr-md-8 {
    margin-right: 6rem !important;
  }

  .mb-md-8 {
    margin-bottom: 6rem !important;
  }

  .ml-md-8 {
    margin-left: 6rem !important;
  }

  .p-md-8 {
    padding: 6rem !important;
  }

  .px-md-8 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-md-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .pt-md-8 {
    padding-top: 6rem !important;
  }

  .pr-md-8 {
    padding-right: 6rem !important;
  }

  .pb-md-8 {
    padding-bottom: 6rem !important;
  }

  .pl-md-8 {
    padding-left: 6rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-8 {
    margin: 6rem !important;
  }

  .mx-lg-8 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-lg-8 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }

  .mt-lg-8 {
    margin-top: 6rem !important;
  }

  .mr-lg-8 {
    margin-right: 6rem !important;
  }

  .mb-lg-8 {
    margin-bottom: 6rem !important;
  }

  .ml-lg-8 {
    margin-left: 6rem !important;
  }

  .p-lg-8 {
    padding: 6rem !important;
  }

  .px-lg-8 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-lg-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .pt-lg-8 {
    padding-top: 6rem !important;
  }

  .pr-lg-8 {
    padding-right: 6rem !important;
  }

  .pb-lg-8 {
    padding-bottom: 6rem !important;
  }

  .pl-lg-8 {
    padding-left: 6rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-8 {
    margin: 6rem !important;
  }

  .mx-xl-8 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .my-xl-8 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
  }

  .mt-xl-8 {
    margin-top: 6rem !important;
  }

  .mr-xl-8 {
    margin-right: 6rem !important;
  }

  .mb-xl-8 {
    margin-bottom: 6rem !important;
  }

  .ml-xl-8 {
    margin-left: 6rem !important;
  }

  .p-xl-8 {
    padding: 6rem !important;
  }

  .px-xl-8 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }

  .py-xl-8 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .pt-xl-8 {
    padding-top: 6rem !important;
  }

  .pr-xl-8 {
    padding-right: 6rem !important;
  }

  .pb-xl-8 {
    padding-bottom: 6rem !important;
  }

  .pl-xl-8 {
    padding-left: 6rem !important;
  }
}
.m-9 {
  margin: 7rem !important;
}

.mx-9 {
  margin-right: 7rem !important;
  margin-left: 7rem !important;
}

.my-9 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.mt-9 {
  margin-top: 7rem !important;
}

.mr-9 {
  margin-right: 7rem !important;
}

.mb-9 {
  margin-bottom: 7rem !important;
}

.ml-9 {
  margin-left: 7rem !important;
}

.p-9 {
  padding: 7rem !important;
}

.px-9 {
  padding-right: 7rem !important;
  padding-left: 7rem !important;
}

.py-9 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.pt-9 {
  padding-top: 7rem !important;
}

.pr-9 {
  padding-right: 7rem !important;
}

.pb-9 {
  padding-bottom: 7rem !important;
}

.pl-9 {
  padding-left: 7rem !important;
}

@media (min-width: 576px) {
  .m-sm-9 {
    margin: 7rem !important;
  }

  .mx-sm-9 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }

  .my-sm-9 {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
  }

  .mt-sm-9 {
    margin-top: 7rem !important;
  }

  .mr-sm-9 {
    margin-right: 7rem !important;
  }

  .mb-sm-9 {
    margin-bottom: 7rem !important;
  }

  .ml-sm-9 {
    margin-left: 7rem !important;
  }

  .p-sm-9 {
    padding: 7rem !important;
  }

  .px-sm-9 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }

  .py-sm-9 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  .pt-sm-9 {
    padding-top: 7rem !important;
  }

  .pr-sm-9 {
    padding-right: 7rem !important;
  }

  .pb-sm-9 {
    padding-bottom: 7rem !important;
  }

  .pl-sm-9 {
    padding-left: 7rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-9 {
    margin: 7rem !important;
  }

  .mx-md-9 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }

  .my-md-9 {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
  }

  .mt-md-9 {
    margin-top: 7rem !important;
  }

  .mr-md-9 {
    margin-right: 7rem !important;
  }

  .mb-md-9 {
    margin-bottom: 7rem !important;
  }

  .ml-md-9 {
    margin-left: 7rem !important;
  }

  .p-md-9 {
    padding: 7rem !important;
  }

  .px-md-9 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }

  .py-md-9 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  .pt-md-9 {
    padding-top: 7rem !important;
  }

  .pr-md-9 {
    padding-right: 7rem !important;
  }

  .pb-md-9 {
    padding-bottom: 7rem !important;
  }

  .pl-md-9 {
    padding-left: 7rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-9 {
    margin: 7rem !important;
  }

  .mx-lg-9 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }

  .my-lg-9 {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
  }

  .mt-lg-9 {
    margin-top: 7rem !important;
  }

  .mr-lg-9 {
    margin-right: 7rem !important;
  }

  .mb-lg-9 {
    margin-bottom: 7rem !important;
  }

  .ml-lg-9 {
    margin-left: 7rem !important;
  }

  .p-lg-9 {
    padding: 7rem !important;
  }

  .px-lg-9 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }

  .py-lg-9 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  .pt-lg-9 {
    padding-top: 7rem !important;
  }

  .pr-lg-9 {
    padding-right: 7rem !important;
  }

  .pb-lg-9 {
    padding-bottom: 7rem !important;
  }

  .pl-lg-9 {
    padding-left: 7rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-9 {
    margin: 7rem !important;
  }

  .mx-xl-9 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }

  .my-xl-9 {
    margin-top: 7rem !important;
    margin-bottom: 7rem !important;
  }

  .mt-xl-9 {
    margin-top: 7rem !important;
  }

  .mr-xl-9 {
    margin-right: 7rem !important;
  }

  .mb-xl-9 {
    margin-bottom: 7rem !important;
  }

  .ml-xl-9 {
    margin-left: 7rem !important;
  }

  .p-xl-9 {
    padding: 7rem !important;
  }

  .px-xl-9 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }

  .py-xl-9 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  .pt-xl-9 {
    padding-top: 7rem !important;
  }

  .pr-xl-9 {
    padding-right: 7rem !important;
  }

  .pb-xl-9 {
    padding-bottom: 7rem !important;
  }

  .pl-xl-9 {
    padding-left: 7rem !important;
  }
}
.m-10 {
  margin: 8rem !important;
}

.mx-10 {
  margin-right: 8rem !important;
  margin-left: 8rem !important;
}

.my-10 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.mt-10 {
  margin-top: 8rem !important;
}

.mr-10 {
  margin-right: 8rem !important;
}

.mb-10 {
  margin-bottom: 8rem !important;
}

.ml-10 {
  margin-left: 8rem !important;
}

.p-10 {
  padding: 8rem !important;
}

.px-10 {
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.py-10 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.pt-10 {
  padding-top: 8rem !important;
}

.pr-10 {
  padding-right: 8rem !important;
}

.pb-10 {
  padding-bottom: 8rem !important;
}

.pl-10 {
  padding-left: 8rem !important;
}

@media (min-width: 576px) {
  .m-sm-10 {
    margin: 8rem !important;
  }

  .mx-sm-10 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }

  .my-sm-10 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .mt-sm-10 {
    margin-top: 8rem !important;
  }

  .mr-sm-10 {
    margin-right: 8rem !important;
  }

  .mb-sm-10 {
    margin-bottom: 8rem !important;
  }

  .ml-sm-10 {
    margin-left: 8rem !important;
  }

  .p-sm-10 {
    padding: 8rem !important;
  }

  .px-sm-10 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
  }

  .py-sm-10 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  .pt-sm-10 {
    padding-top: 8rem !important;
  }

  .pr-sm-10 {
    padding-right: 8rem !important;
  }

  .pb-sm-10 {
    padding-bottom: 8rem !important;
  }

  .pl-sm-10 {
    padding-left: 8rem !important;
  }
}
@media (min-width: 768px) {
  .m-md-10 {
    margin: 8rem !important;
  }

  .mx-md-10 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }

  .my-md-10 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .mt-md-10 {
    margin-top: 8rem !important;
  }

  .mr-md-10 {
    margin-right: 8rem !important;
  }

  .mb-md-10 {
    margin-bottom: 8rem !important;
  }

  .ml-md-10 {
    margin-left: 8rem !important;
  }

  .p-md-10 {
    padding: 8rem !important;
  }

  .px-md-10 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
  }

  .py-md-10 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  .pt-md-10 {
    padding-top: 8rem !important;
  }

  .pr-md-10 {
    padding-right: 8rem !important;
  }

  .pb-md-10 {
    padding-bottom: 8rem !important;
  }

  .pl-md-10 {
    padding-left: 8rem !important;
  }
}
@media (min-width: 992px) {
  .m-lg-10 {
    margin: 8rem !important;
  }

  .mx-lg-10 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }

  .my-lg-10 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .mt-lg-10 {
    margin-top: 8rem !important;
  }

  .mr-lg-10 {
    margin-right: 8rem !important;
  }

  .mb-lg-10 {
    margin-bottom: 8rem !important;
  }

  .ml-lg-10 {
    margin-left: 8rem !important;
  }

  .p-lg-10 {
    padding: 8rem !important;
  }

  .px-lg-10 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
  }

  .py-lg-10 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  .pt-lg-10 {
    padding-top: 8rem !important;
  }

  .pr-lg-10 {
    padding-right: 8rem !important;
  }

  .pb-lg-10 {
    padding-bottom: 8rem !important;
  }

  .pl-lg-10 {
    padding-left: 8rem !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-10 {
    margin: 8rem !important;
  }

  .mx-xl-10 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
  }

  .my-xl-10 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .mt-xl-10 {
    margin-top: 8rem !important;
  }

  .mr-xl-10 {
    margin-right: 8rem !important;
  }

  .mb-xl-10 {
    margin-bottom: 8rem !important;
  }

  .ml-xl-10 {
    margin-left: 8rem !important;
  }

  .p-xl-10 {
    padding: 8rem !important;
  }

  .px-xl-10 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
  }

  .py-xl-10 {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  .pt-xl-10 {
    padding-top: 8rem !important;
  }

  .pr-xl-10 {
    padding-right: 8rem !important;
  }

  .pb-xl-10 {
    padding-bottom: 8rem !important;
  }

  .pl-xl-10 {
    padding-left: 8rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
