@use 'styles/vendors/bootstrap/bootstrap' as *;
@use 'styles/utilities' as *;
@use 'styles/variables' as *;
@use 'sass:color';

// bootstrap customization
.container {
  max-width: 710px;
}
.form-control {
  font-size: 0.62rem;
  border-color: color.mix($secondary-pale-blue, $neutral-gray, $weight: 65%);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  &::placeholder {
    color: color.mix($secondary-pale-blue, $neutral-gray, $weight: 65%);
  }
  &:focus {
    box-shadow: none !important;
  }
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}
.form-group {
  margin-bottom: 0.5rem;
}
.invalid-feedback {
  display: block;
  font-size: 0.51rem;
  visibility: hidden;
}
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  visibility: visible;
}
.btn,
.btn:focus,
.btn.focus,
.btn:active:focus {
  box-shadow: 0px 8px 10px 0 rgba($secondary-pale-blue, 0.7) !important;
  color: white !important;
}
.btn:hover {
  color: white;
}
// bootstrap customization

// ==============================

// project related customization
.text-neutral-gray {
  color: $neutral-gray;
}
.text-neutral-very-dark-blue {
  color: $neutral-very-dark-blue;
}
html {
  font-size: 20px;
}
body {
  font-family: "Libre Franklin";
}
.header {
  padding-top: 57px;
}
.heading-1 {
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}
.heading-2 {
  font-size: 0.63rem;
  margin-bottom: 1.63rem;
}
.navbar {
  margin-bottom: 0.625rem;
  .navbar-brand img {
    width: 2.7rem;
  }
}
.container-form {
  padding: 0 45px;
  .btn-submit {
    font-size: 0.62rem;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    position: relative;
    top: -30px;
  }
}
.was-validated .btn-submit {
  top: 0;
}
.container-img {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 120px;
}

.footer {
  padding-bottom: 40px;
  .icons {
    font-size: 0.68rem;
    margin-right: 15px;
    a {
      margin-right: 10px;
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .icon {
      border: 1px solid color.scale($secondary-pale-blue, $alpha: -60%);
      border-radius: 100%;
      padding: 8px;
      &:hover {
        background-color: $primary-blue;
        border-color: $primary-blue;
        color: white;
      }
    }
  }
  .copyright {
    font-size: 0.52rem;
  }
}

@include media-breakpoint-up(sm) {
  .container-img {
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-control {
    font-size: 0.75rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .invalid-feedback {
    font-size: 0.61rem;
    padding-left: 1.5rem;
  }
  .navbar .navbar-brand img {
    width: 3.75rem;
  }
  .heading-1 {
    font-size: 2rem;
  }
  .heading-2 {
    font-size: 0.85rem;
    margin-bottom: 1.95rem;
  }
  .container-form .btn-submit {
    top: 0;
    font-size: 0.75rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .footer .copyright {
    font-size: 0.6rem;
  }
}
@include media-breakpoint-up(md) {
  .container-img {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
@include media-breakpoint-up(lg) {
  .form-control {
    font-size: 0.775rem;
    padding-top: 0.775rem;
    padding-bottom: 0.775rem;
  }
  .invalid-feedback {
    font-size: 0.61rem;
    padding-left: 1.5rem;
  }
  .navbar {
    margin-bottom: 1.5rem;
    .navbar-brand img {
      width: 4.25rem;
    }
  }
  .heading-1 {
    font-size: 2.4rem;
  }
  .heading-2 {
    font-size: 0.97rem;
    margin-bottom: 1.95rem;
  }
  .container-form .btn-submit {
    top: 0;
    font-size: 0.775rem;
    padding-top: 0.775rem;
    padding-bottom: 0.775rem;
  }
}
// project related customization
